name: Generate GitHub Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build metrics panel
        uses: lowlighter/metrics@latest
        with:
        
          token: ${{ secrets.GH_TOKEN }}

          
          user: DHANUSH1323
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: America/New_York

          
          filename: github-metrics.svg
          output_action: commit

          
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_details: percentage
          plugin_languages_colors: github
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
